body{
    background-color: #E6E6E6;

}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

button {
    background-color: rgb(240, 239, 239); /* Green */
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  button:hover {
    color: rgb(72, 116, 158);
  }

.details {
    margin-top: 50px;
    margin-left: 20px
}

.description {
    width: 400px;
    line-height: 150%;
    font-size: 18px
}

.experience {
    margin-left: 50px;
    margin-right: 50px;
}

.hello {
    font-size: 100px;
    margin: 0px;
}

.linebreak {
    box-sizing: border-box;
    border-top: 1px solid #777777;
    margin: 0 50px
}

.navbar {
    margin: 10px 5px;
}
.navbarmenu {
    float: left;
    text-align: center;
    color: #141414;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid #414141;
    background-color: rgb(240, 239, 239);
    box-shadow: 0 0.6px #414141;
}

/* .navbar:hover {
    background-color: red;
    color: black;
}

.navbar:active {
    background-color: #04AA6D;
} */

.photo {
    border-radius: 50%;
    height: 400px;
    width: 400px;
    margin: 20px
}
.portfoliotitle {
    margin-left: 50px;
    margin-right: 50px;
}

.portfolioimg {
    height: 40%;
    width: 40%;
    margin: 20px 30px;
}

.portfoliorow{
    margin: 0 auto;
}

.profilebar {
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
}

.skills {
    margin-left: 50px;
    margin-right: 50px;
}