@import "compass/css3";
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");

html {
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #e5e5e5;

}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(72, 116, 158);
    background-color: transparent;
    text-decoration: none;
}

button {
    background-color: rgb(240, 239, 239); /* Green */
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  button:hover {
    color: rgb(72, 116, 158);
  }

.details {
    margin-top: 50px;
    margin-left: 20px
}

.description {
    width: 550px;
    line-height: 150%;
    font-size: 18px
}

#experience {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
}

.hello {
    font-size: 100px;
    margin: 0px;
}

.linebreak {
    box-sizing: border-box;
    border-top: 1px solid #777777;
    margin: 0 50px
}

.navbar {
    margin: 10px 5px;
}
.navbarmenu {
    float: left;
    text-align: center;
    color: #141414;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: 1px solid #414141;
    background-color: rgb(240, 239, 239);
    box-shadow: 0 0.6px #414141;
}

.photo {
    border-radius: 50%;
    height: 400px;
    width: 400px;
    margin: 20px
}

#portfolio {
    margin-bottom: 100px;
}

#portfoliotitle {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
}

.portfoliocard {
    background-size: cover;
    background-position:center;
    width: 40%;
    height: 100%;
    margin: 20px 20px;
    aspect-ratio: 1.4/1; 
    z-index:1000;
}

.portfoliorow{
    display: flex;
    justify-content: center;
}

.portfoliotext {
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: 0.5s;
        background-color: #F1F1F1;
        margin: 0px;
        display: flex;
        align-items: left;
        vertical-align: middle;
        flex-flow: column;
        padding: 30px 30px;
        line-height: 20px;

}

.portfoliocard:hover .portfoliotext {
    opacity: 0.9;
}

#profilebar {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 150px;
}

.professional {
    display:flex;
    line-height: 40px;
    background-color: rgb(253, 253, 253);
    background-image: -webkit-linear-gradient(180deg, white 98%, #3c6e71 2%);
    width: 500px;
    height: 300px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-right: 30px;
    margin-top: 80px;
    margin-bottom: 100px;
}

#skills {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
}

.technical {
    display:flex;
    line-height: 40px;
    background-color: rgb(253, 253, 253);
    background-image: -webkit-linear-gradient(180deg, white 98%, #3c6e71 2%);
    width: 500px;
    height: 300px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-left: 30px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.skilldetails {
    display: flex;
    justify-content:center;
    margin-bottom: 35px;
}

.prof-left {
    margin: auto;
}

.prof-right {
    margin: auto;
    margin-left: -20px;
    font-size: 18px;
}

.tech-left {
    margin: auto;
}

.tech-mid {
    margin: auto;
    margin-left: -20px;
    font-size: 18px;   
}

.tech-right {
    margin: auto;
    margin-left: -20px;
    font-size: 18px;
}

a[id="profilebar"]:target ~ #profilebar {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  a[id="skills"]:target ~ #skills {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  
  a[id="experience"]:target ~ #experience {
    -webkit-transform: translate3d(0, -200%, 0);
    transform: translate3d(0, -200%, 0);
  }
  
  a[id= "portfoliotitle"]:target ~ #portfoliotitle {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }

.timeline {
    margin-bottom: 60px;
}
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    margin-left:-500px;
  }
  
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;

  }


  .right {
    left: 50%;
  }

  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .right::after {
    left: -16px;
  }
  
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }

.content i {
    display: inline-block;
    margin: -5px 5px;
}

  .footer {
    position:fixed;
    background-color: #D0DAEE;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    z-index:2000;
  }

  .footermenu {
      margin-top: 35px;
      margin-left: 40px;
  }

  .footermenu a {
      float: left;
      margin-right: 30px;
  }

  .mediaicons {
    margin-top: 35px;
    margin-right: 40px;
}

.mediaicons a {
    float: right;
    margin-right: 30px;
}

.title {
    font-size: 19px;
    line-height: 0px;
}

.paragraph {
    font-size: 19px;
}

.text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: red;
    padding-left: 20px;
    padding-right: 20px;
  }

  .portfoliotext i {
    display: inline-block;
    margin: -5px 5px;
  }